.home-form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.form-group{
    margin-bottom: 20px;
    margin-top: 5px;
    width: 400px;
}
.form-group input{
    display: flex;
    gap: 25px;
    background-color: transparent;
    border: none;
    border-radius: 30px;
    padding: 2px;
    color: white;
    width: 100%;
    font-size: 1.05rem;
}
.form-group input:focus{
    outline: none;
}
.form-border{
    background: gray;
}
.form-group:focus-within .form-border{
    background: -webkit-linear-gradient(#FF7008, #9644FE);
}
.form-group label{
    color: gray;
}
.nick-group{
    display: flex;
}
.form-title{
    text-align: center;
    color: gray;
}
.cool-btn{
    padding: 8px 14px;
    background: linear-gradient(#FF7008, #9644FE);
    font-size: 1.05rem;
    color: white;
    border: none;
    border-radius: 30px;
    align-self: center;
}
.cool-btn:hover{
    cursor: pointer;
}
.error-message{
    text-align: center;
    color: tomato;
}
.dice-img{
    transition: 0.2s;
}
.dice-img:hover{
    cursor: pointer;
    scale: 0.9;
}
.dice-img:active{
    opacity: 50%;
}